<%- include('common/header.ejs') %> 
<%- include('common/navigation.ejs') %>

    <main>
      <div class="card">
        <h5 class="card-header">Products Template</h5>
        <div class="card-body">
          <% for(let product of products) { %>
            <div>
              <%= product.title %>
            </div>
            <% } %>
        </div>
      </div>
    </main>
    <%- include('common/footer.ejs') %>

